{% extends 'base.html' %}

{% block title %}
    <title>Carriers Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
    <section class="container">
        <header class="header">
            <img src="{{ url_for('static', filename='images/carriers.jpg') }}" alt="Carriers" class="logo">
            <h1>Carriers Management</h1>
        </header>

        <section style="display: flex; flex-direction: row; align-items: center;">
            
            <section class="meia-pagina" style="height: 100%; align-items: flex-end;">
                <form id="form" class="form" action="/carriers?option=save" method="post" style="margin-right: 3.5%;">
                    <div class="form-group">
                        <label for="carrier_id">Carrier ID</label>
                        <input class="input-modern" type="text" {{ butedit }} id="carrier_id" name="carrier_id" value="{{ fields.carrier_id }}">
                    </div>

                    <div class="form-group">
                        <label for="vehicle_type">Vehicle Type</label>
                        <input class="input-modern" type="text" {{ butedit }} id="vehicle_type" name="vehicle_type" value="{{ fields.vehicle_type }}">
                        
                    </div>

                    <div class="form-group">
                        <label for="capacity">Capacity</label>
                        <input class="input-modern" type="number" {{ butedit }} id="capacity" name="capacity" value="{{ fields.capacity }}">
                       
                    </div>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="input-modern" type="text" {{ butedit }} id="name" name="name" value="{{ fields.name }}">
                        
                    </div>
                </form>

                <div class="nav-buttons" style="margin-bottom: 0px; justify-content: flex-end;">
                    <button id="first" {{ butshow }} onclick="window.location.href='/carriers?option=first'" class="btnimage">
                        <img src="{{ url_for('static', filename='images/first.png') }}" alt="First">
                    </button>
                    <button id="previous" {{ butshow }} onclick="window.location.href='/carriers?option=previous'" class="btnimage">
                        <img src="{{ url_for('static', filename='images/arrow-left.png') }}" alt="Previous">
                    </button>
                    <button id="next" {{ butshow }} onclick="window.location.href='/carriers?option=next'" class="btnimage">
                        <img src="{{ url_for('static', filename='images/arrow-right.png') }}" alt="Next">
                    </button>
                    <button id="last" {{ butshow }} onclick="window.location.href='/carriers?option=last'" class="btnimage">
                        <img src="{{ url_for('static', filename='images/last.png') }}" alt="Last">
                    </button>
                </div>
            </section>
            
            <section class="meia-pagina" style="margin-bottom: 5%; align-items: flex-start;">
                <div style="padding-left: 10%;">
                <div class="button-group" style="display: flex; flex-direction: column; margin-top: 0px;">
                    <div class="full_retangulo" style="flex-direction: row; padding: 5% 5%;">
                        <button id="insert" {{ butshow }} onclick="window.location.href='/carriers?option=insert'" class="btn">New Carrier</button>
                        <button id="exit" {{ butshow }} onclick="window.location.href='/carriers?option=exit'" class="btn">Exit</button>
                    </div>
                    <div class="full_retangulo" style="flex-direction: row; padding: 5% 5%; gap: 16px;">
                       <button id="edit" {{ butshow }} onclick="window.location.href='/carriers?option=edit'" class="btnimage">
                            <img src="{{ url_for('static', filename='images/editar.png') }}" alt="Edit">
                        </button>
                        <button id="delete" {{ butshow }} onclick="window.location.href='/carriers?option=delete'" class="btnimage">
                            <img src="{{ url_for('static', filename='images/eliminar.png') }}" alt="Delete">
                        </button>
                        <button id="save" type="submit" form="form" {{ butedit }} class="btnimage">
                            <img src="{{ url_for('static', filename='images/save.png') }}" alt="Save">
                        </button>
                        <button id="cancel" {{ butedit }} onclick="window.location.href='/carriers?option=cancel'" class="btnimage">
                            <img src="{{ url_for('static', filename='images/noun-cancel-2419034.png') }}" alt="Cancel">
                        </button> 
                    </div>
                </div>
                </div>
            </section>
            
            
        </section>
        
        
    </section>
{% endblock %}