<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shipping Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1 class="large-title">Transportadora Rapid Row</h1>
        </header>

        <section class="button-group">
            <a href="/carriers" class="btn">Carriers</a>
            <a href="/shipments" class="btn">Shipments</a>
            <a href="/shipment_details" class="btn">Shipment Details</a>
            <a href="/warehouses" class="btn">Warehouses</a>
            <a href="/statistics" class="btn">Statistics</a>
        </section>
    </div>
</body>
</html>
