<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shipment Details Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="{{ url_for('static', filename='images/shipment_details.jpg') }}" alt="Shipment Details" class="logo">
            <h1>Shipment Details Management</h1>
        </header>

        <section class="button-group">
            <button id="edit" {{ butshow }} onclick="window.location.href='/shipment_details?option=edit'" class="btnimage">
                <img src="{{ url_for('static', filename='images/editar.png') }}" alt="Edit">
            </button>
            <button id="delete" {{ butshow }} onclick="window.location.href='/shipment_details?option=delete'" class="btnimage">
                <img src="{{ url_for('static', filename='images/eliminar.png') }}" alt="Delete">
            </button>
            <button id="insert" {{ butshow }} onclick="window.location.href='/shipment_details?option=insert'" class="btn">Insert</button>
            <button id="save" type="submit" form="form" {{ butedit }} class="btn">Save</button>
            <button id="cancel" {{ butedit }} onclick="window.location.href='/shipment_details?option=cancel'" class="btn">Cancel</button>
            <button id="exit" {{ butshow }} onclick="window.location.href='/shipment_details?option=exit'" class="btn">Exit</button>
        </section>

        <form id="form" class="form" action="/shipment_details?option=save" method="post">
            <div class="form-group">
                <label for="id">Detail ID:</label>
                <input type="text" {{ butedit }} id="id" name="id" value="{{ fields.id }}">
            </div>

            <div class="form-group">
                <label for="shipment_id">Shipment ID:</label>
                <input type="text" {{ butedit }} id="shipment_id" name="shipment_id" value="{{ fields.shipment_id }}">
            </div>

            <div class="form-group">
                <label for="carrier_id">Carrier ID:</label>
                <input type="text" {{ butedit }} id="carrier_id" name="carrier_id" value="{{ fields.carrier_id }}">
            </div>
        </form>

        <section class="nav-buttons">
            <button id="first" {{ butshow }} onclick="window.location.href='/carriers?option=first'" class="btn">First</button>
            <button id="previous" {{ butshow }} onclick="window.location.href='/carriers?option=previous'" class="btnimage" >
            <img src="{{ url_for('static', filename='images/arrow-left.png') }}" alt="Previous">
            </button>
            <button id="next" {{ butshow }} onclick="window.location.href='/carriers?option=next'" class="btnimage">
            <img src="{{ url_for('static', filename='images/arrow-right.png') }}" alt="Next">
            </button>
            <button id="last" {{ butshow }} onclick="window.location.href='/carriers?option=last'" class="btn">Last</button>
        </section>
    </div>
</body>
</html>
